language: generic 
sudo: required
services: 
  - docker

before_install:
  - docker build -t abhisheksinghal1990/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true abhisheksinghal1990/docker-react npm run test

deploy:
  provider: azure_web_apps
  username: $AZURE_WA_USERNAME
  password: $AZURE_WA_PASSWORD
  site: "docker-react-1.azurewebsites.net"
  on: 
    branch: master

